body {
    margin: 0;
    padding: 0;
    background-color: #8F7600;
    font: bold 1rem Montserrat;
}

/* -- Nav -- */
nav {
    padding: 1rem;
    background-color: black;
}

.logo {
    width: 200px;
}

/* -- Hero -- */
.hero-background {
    position: absolute;
    top: calc(73.225px + 2rem);
    left: 0;
    width: 100vw;
    height: calc(100vh - 73.225px - 2rem);
    background-image: linear-gradient(118deg, #8F7600 50%, black 50%);
}

.hero-text {
    position: relative;
    margin: 0.75rem;
    text-align: center;
}
.hero-text div {
    display: inline-block;
    text-align: left;
}
.hero-text div h1 {
    margin: 0;
    font-size: 4.313rem;
    line-height: 1.5;
    color: white;
}
.hero-text div h1 i {
    color: black;
    font-style: normal;
}

/* -- Featured -- */
.featured {
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem - 2px);
}

.featured-item {
    width: 100%;
    margin: 1rem;
    background: white;
    border: solid 1px #707070;
    border-radius: 1rem;
}
.featured-item p {
    text-align: center;
}
