body {
    margin: 0;
    padding: 0;
    background-color: #8F7600;
    background-image: linear-gradient(to top left, black 50%, #8F7600 50%);
    background-repeat: no-repeat;
    background-size: 100vw calc(100vh - 55.913px - 2rem);
    background-position: 0 calc(55.913px + 2rem);
    font: bold 1rem Montserrat;
    overflow-x: hidden;
}

img {max-width: 100%;}

/* -- Nav -- */
.desktop-nav {
    display: none;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}
#nav{
background-color:#8F7600;
list-style:none;
margin:0;
padding:0;
text-align:center;
}
#nav li{
display:inline;
}
#nav a{
display:inline-block;
padding:25px;
}
a{
color:white;
text-decoration:none;
font-weight:bold;
cursor: pointer;
font-size: 1.25rem;
}
a:hover{
color: black;
}
.container{
background-color:black;
padding: 25px;
}
.centro {
display:block;
margin:0px auto;
text-align:center;
}




nav {
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    padding: 1rem;
    background-color: black;
    z-index: 10;
}

.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	left:15px;
	background-color: #8F7600;
	border-radius:50px;
	text-align:center;
    padding: 0.5rem;
    font-size:10px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.desktop-hero-img {display: none;}

.my-float{
	margin-top:16px;
}

.nav-icon {
    display: inline-block;
    position: absolute;
    right: 3.5rem;
    top: 21px;
    cursor: pointer;
    background-color: #8F7600;
    padding: 0.5rem;
    border-radius: 1rem;
}

.nav-links {
    display: none;
    position: absolute;
    background-color: black;
    z-index: 1;
    width: 100%;
    left: 0;
}
.nav-links ul {
    list-style: none;
    padding: 0.25rem 0.5rem;
}
.nav-links li {
    margin: 0.75rem;
    cursor: pointer;
}
.nav-links ul li a {
    color: #8F7600;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-icon-bar1, .nav-icon-bar2, .nav-icon-bar3 {
    width: 35px;
    height: 4px;
    border-radius: 1rem;
    background: black;
    margin: 4px 0;
    transition: 0.4s;
}

.change .nav-icon-bar1 {
    transform: translate(0, 9px) rotate(-45deg);
}

.change .nav-icon-bar2 {
    opacity: 0;
}

.change .nav-icon-bar3 {
    transform: translate(0, -7px) rotate(45deg);
}

.logo {width: 150px;}

/* -- Hero -- */
.hero-image-1 {
    position: absolute;
    width: 200px;
    left: -2.5rem;
    top: 11rem;
}

.hero-image-2 {
    z-index: -1;
    position: absolute;
    width: 163px;
    right: 0;
    bottom: 5rem;
}

.hero-text {
    margin-top: 45px;
    text-align: center;
}
.hero-text div {
    display: inline-block;
    text-align: left;
}
.hero-text div h1 {
    margin: 0;
    font-size: 4rem;
    line-height: 1.3;
    color: white;
}
.hero-text div h1 i {
    color: black;
    font-style: normal;
}

/* -- Featured -- */
.featured {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100%);
    max-width: 300px;
}

.featured-item {
    width: 100%;
    margin: 1rem 0;
    background: white;
    border: solid 1px #707070;
    border-radius: 1rem;
}
.featured-item p {
    text-align: center;
    font-size: 0.9rem;
}

/* -- Content -- */
.content {
    position: absolute;
    top: 100vh;
}

/* -- About us -- */
.about-us {
    text-align: center;
    margin-bottom: -2rem;
}
.about-us h2, .about-us p {color: white;}
.about-us h2 {
    background-color: black;
    padding: 1rem;
}
.about-us {font-weight: normal;}
.about-us p {padding: 0 1rem;}

/* -- Dishes menu -- */
.dishes-menu {
    padding: 1rem 2rem;
    background-color: black;
    text-align: center;
}
.dishes-menu h2 {
    margin: 0;
    color: white;
}

.dishes-menu-link {
    display: flex;
    align-items: center;
    height: 75px;
    border: 2px solid white;
    margin: 1rem;
    text-align: left;
    padding: 0 0.5rem;
    background-color: #8F7600;
    color: white;
}
.dishes-menu-link p {
    display: inline-block;
}
.dishes-menu-link a {
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 1rem;
    padding: 0.3rem;
    font-weight: normal;
}

/* -- Info -- */
.info {
    text-align: center;
}
.info h2 {color: white;}

.info-div {
    text-align: left;
    margin: 1rem 0;
    padding: 0 0.25rem;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.info-div p {color: white; font-weight: normal; margin-left: 1rem;}

.info-icon {
    width: 60px;
}

/* -- Map -- */
.map {
    text-align: center;
}
.map h2 {
    color: white;
    background-color: black;
    padding: 1rem;
}
.map iframe {
    width: 90%;
    height: 250px;
}
.map p {
    color: white;
    background-color: black;
    padding: 1rem;
    display: inline-block;
    border-radius: 5rem;
    font-weight: normal;
    font-size: 1.2rem;
}

/* -- Events -- */
.events h2 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}
.events p {
    padding: 0 1rem;
    color: white;
    font-weight: normal;
    font-size: 1.2rem;
}

/* -- Footer -- */
.footer-logo {
    background-color: black;
    padding: 1rem 5rem;
}

footer p {
    color: white;
    font-weight: normal;
    text-align: center;
}

.fa {
    color: black;
    font-size: 3rem;
    text-decoration: none;
    margin: 0 0.5rem 1rem;
}

.socialbar {
    text-align: center;
}

/* -- Why us -- */
.why-us {
    text-align: center;
}

.why-us h2 {
    color: white;
    background-color: black;
    padding: 1rem;
}

.why-us ul {
    background-color: black;
    color: white;
    text-align: left;
    padding: 0.5rem 1rem 1rem;
    list-style-type: none;
}
.why-us ul li {
    font-weight: normal;
    background: url('./tick-icon.png') no-repeat left center;
    padding: 5px 10px 5px 45px;
}

/* Gallery */
.slideshow-topcontainer {padding: 1.5rem 0.5rem 0.5rem; background: black;}
.slideshow-container, .mySlides {box-sizing: border-box; margin-bottom: 0.5rem;}
.mySlides {display: none}
.mySlides img {vertical-align: middle; border-radius: 10%; object-fit: cover; height: 60vw; max-height: 450px;}
/* Slideshow container */
.slideshow-container {
max-width: 800px;
position: relative;
margin: auto;
background-color: black;
border-radius: 10%;
}
/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: white;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #8F7600;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next {font-size: 11px}
}

@media only screen and (min-width: 950px) {
    body {
        background-image: linear-gradient(120deg, black 50%, #8F7600 50%);
        background-size: 100vw calc(100vh - 199.2px);
        background-position: 0 calc(199.2px);
    }

    .desktop-nav {
        display: block;
    }
    nav {display: none;}

    .hero-text {
        position: absolute;
        right: 25%;
        top: 55%;
        transform: translateY(-55%);
    }
    .hero-text div h1 {font-size: 7rem; color: black; line-height: 1;}
    .hero-text div h1 i {color: white;}
    .featured {
        left: 20%;
        top: 62.5%;
        transform: translateY(-62.5%);
        max-width: 450px;
    }
    .featured-item p {font-size: 1.5rem;}

    .hero-image-1 {display: none;}
    .hero-image-2 {display: none;}


    .float {left: 90vw; width: 60px; height: 60px; background-color: white;}
    .my-float {font-size: 60px !important; margin-left: 6px !important; color: black;}

    .dishes-menu h2 {padding: 2rem;}
    .dishes-menu-grid {display: grid; grid-template-columns: 1fr 1fr; max-width: 1200px; margin: auto;}
    .dishes-menu img {max-width: 1000px;}
    .dishes-menu-link {font-size: 1.5rem; padding: 0.5rem 1rem; margin: 0.5rem;}
    .dishes-menu-link a {font-size: 1.5rem;}

    .info {max-width: 800px; margin: auto;}
    .info h2 {padding: 1rem;}
    .info-div {border-radius: 5rem;}
    .info-div p {font-size: 1.5rem; margin: 0;}
    .info-icon {margin-top: 2rem; margin-left: -2rem; width: 90px;}

    .why-us {background-color: black;}
    .why-us h2 {padding-top: 2rem; padding-bottom: 0;}
    .why-us ul {max-width: 600px; margin: auto;}
    .why-us ul li {font-size: 1.5rem; padding-left: 80px;}

    .events h2 {padding: 1.5rem;}
    .events p {max-width: 500px; text-align: center; margin: auto; padding: 1rem; background-color: black; font-size: 1.5rem;}

    .gallery-h2 {padding: 1.5rem !important;}

    .about-us p {max-width: 1000px; font-size: 1.6rem; margin: auto;}
    .about-us img {max-width: 800px;}
    .about-us h2 {padding: 1.5rem;}

    footer {width: 100vw; text-align: center; box-sizing: border-box;}
    footer img {max-height: 100px;}
    footer p {font-size: 1.5rem;}

    .map iframe {width: 600px; height: 400px;}
    .map h2 {padding: 1.5rem;}
    .map p {font-size: 1.5rem; padding: 1.5rem;}

    .desktop-hero-img {display: block; width: 350px; position: absolute; right: 0; top: 20%;}

    h2 {font-size: 2rem;}

    .broken-info-p1 {margin-left: -50px !important;}
    .broken-info-p2 {margin-left: 30px !important;}
}
